body {
  background-color: #eee;
}

.center-div{
margin-right: auto;
}

.row .col.no-float{
  float: unset;
}

.icon-social-media img{
  width: 40px;
  margin: 0 10px;
  opacity: 0.7;
  transition: 0.9s linear;
}

.icon-social-media img:hover{
  opacity: 1;  transition: 0.3s linear;
}

.sub-title{
  font-size: 18px;
  color: #4db6ac;
}